:root {
  --space: 1rem;
  --column-gap: calc(2 * var(--space));
  --row-gap: var(--space);
}


/* Still don't know why */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * + * {
  margin-block-start: var(--row-gap);
}

.stack.recursive * + * {
  margin-block-start: var(--row-gap);
}


.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap) var(--column-gap);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--item-basis, 0) * var(--item-count, 3) - 100%) * 999);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap) var(--column-gap);
}

.with-sidebar > * {
  flex-grow: 1;
  flex-basis: var(--sidebar-basis, 20rem);
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: calc(50% - var(--column-gap));
}
