/**
 * Defining the general scaling factor
 * 
 * We use the Major Second for the scale rhythm.
 */
:root {
  --scale-ratio: 1.125;
}

/**
 * Defining all necessary scale factors
 * 
 * This is mostly internal but could be also used to set a value for
 * line-height or other properties requiring pure numbers.
 *
 * We define scale factors from -5, i.e s⁻⁵ to +13, i.e. s¹³, where
 * "s" is the base scale factor, defined as --scale-ratio custom property.
 * This range of values lets us define a Fibonacci sequence for sizes
 * with the scale factor up to F₇ (with value 13).
 */
:root {
  --scale--5: calc(var(--scale--4) / var(--scale-ratio));
  --scale--4: calc(var(--scale--3) / var(--scale-ratio));
  --scale--3: calc(var(--scale--2) / var(--scale-ratio));
  --scale--2: calc(var(--scale--1) / var(--scale-ratio));
  --scale--1: calc(var(--scale-0)  / var(--scale-ratio));
  --scale-0: 1;
  --scale-1:  calc(var(--scale-0)  * var(--scale-ratio));
  --scale-2:  calc(var(--scale-1)  * var(--scale-ratio));
  --scale-3:  calc(var(--scale-2)  * var(--scale-ratio));
  --scale-4:  calc(var(--scale-3)  * var(--scale-ratio));
  --scale-5:  calc(var(--scale-4)  * var(--scale-ratio));
  --scale-6:  calc(var(--scale-5)  * var(--scale-ratio));
  --scale-7:  calc(var(--scale-6)  * var(--scale-ratio));
  --scale-8:  calc(var(--scale-7)  * var(--scale-ratio));
  --scale-9:  calc(var(--scale-8)  * var(--scale-ratio));
  --scale-10: calc(var(--scale-9)  * var(--scale-ratio));
  --scale-11: calc(var(--scale-10) * var(--scale-ratio));
  --scale-12: calc(var(--scale-11) * var(--scale-ratio));
  --scale-13: calc(var(--scale-12) * var(--scale-ratio));
}

/**
 * Defining scale interface.
 *
 * Scales could be used for line heights or in other places where
 * a pure number is expected.
 * 
 * The naming is based on the font weight options: 400 indicates
 * the regular (normal) size, everything above is larger and below – smaller.
 */
:root {
  --scale-100: var(--scale--5);
  --scale-200: var(--scale--3);
  --scale-300: var(--scale--2);
  --scale-400: var(--scale-0);
  --scale-500: var(--scale-2);
  --scale-600: var(--scale-3);
  --scale-700: var(--scale-5);
  --scale-800: var(--scale-8);
  --scale-900: var(--scale-13);
}

/**
 * Defining the sizes.
 *
 * Sizes are used to scale fonts, paddings and margins.
 * 
 * The naming is based on the font weight options: 400 indicates
 * the regular (normal) size, everything above is larger and below – smaller.
 */
:root {
  --size-100: calc(1rem * var(--scale-100));
  --size-200: calc(1rem * var(--scale-200));
  --size-300: calc(1rem * var(--scale-300));
  --size-400: calc(1rem * var(--scale-400));
  --size-500: calc(1rem * var(--scale-500));
  --size-600: calc(1rem * var(--scale-600));
  --size-700: calc(1rem * var(--scale-700));
  --size-800: calc(1rem * var(--scale-800));
  --size-900: calc(1rem * var(--scale-900));
}

:root {
  --line-size-100: 0.0625rem;
  --line-size-200: 0.125rem;
  --line-size-300: .25rem;
}
