:root {
	line-height: 1.5;
	letter-spacing: clamp(-.025em, (1em - 1rem) / -32, .015em);
}

@media (prefers-color-scheme: dark) {
	:root {
		letter-spacing: .05ch;
	}
}


/* Headings */

h1, h2, h3, h4, h5, h6, hgroup {
	line-height: clamp(.8em, .65em + .85rem, 1.5em);
}

h1 {
	font-size: var(--size-800);
	font-weight: 400;
}

h2 {
	font-size: var(--size-700);
	font-weight: 500;
}

h3 {
	font-size: var(--size-600);
	font-weight: 500;
}

h4 {
	font-size: var(--size-500);
	font-weight: 600;
}

h5 {
	font-size: var(--size-400);
	font-weight: 600;
}

h6 {
	font-size: var(--size-300);
	font-weight: 600;
}


/* Subheadings */

:where(hgroup) p {
	font-size: var(--size-500);
	line-height: 1.5rem;
	font-weight: 300;
}

:where(hgroup h1) + p {
	font-size: var(--size-600);
	line-height: inherit;
}

:where(hgroup h2) + p {
	font-size: var(--size-500);
	line-height: inherit;
}

:where(hgroup h3) + p {
	font-size: var(--size-400);
	line-height: inherit;
}

:where(hgroup) :where(h4, h5, h6) + p {
	font-size: var(--size-300);
	line-height: 1.5rem;
}
