/**
 * Box
 *
 * Defines a box layout with inset spacing.
 *
 * Details: https://every-layout.dev/layouts/box
 *
 * NOTE:
 *   This does not apply background, color and outline
 *   recommended in Every Layout as these are defined in a separate
 *   coloring module.
 */

.box {
	padding-block: var(--box-padding-block, var(--padding-block));
	padding-inline: var(--box-padding-inline, var(--padding-inline));
}

/**
 * Stack
 *
 * Sets the vertical spacing between its children.
 *
 * Details: https://every-layout.dev/layouts/stack
 */

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--stack-gap, var(--row-gap));
	justify-content: start;
}

/**
 * Cover
 *
 * The cover layout is useful for the page and section headers,
 * also called heroes. It centers the heading element or group vertically
 * and pushes everything else to the sides (top and bottom in vertical mode).
 *
 * Details: https://every-layout.dev/layouts/cover
 */

.cover {
	display: flex;
	flex-direction: column;
	row-gap: var(--cover-gap, var(--row-gap));
}

.cover > :where(h1, h2, h3, h4, h5, h6, hgroup) {
	margin-block: auto;
}

/**
 * Sidebar
 *
 * Makes the sidebar to occupy requested space and the content (not a sidebar)
 * to occupy the rest of space, i.e. creates wide content and a narrow sidebar.
 * If there is not enough space for content, i.e. it is more narrow than 50%
 * of the parent, the layout breaks and the sidebar is rendered before
 * or after the content (depends on the order of HTML elements).
 *
 * Details: https://every-layout.dev/layouts/sidebar
 */

:has(> .sidebar) {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--row-gap);
	column-gap: var(--column-gap);
}

:has(> .sidebar) > :where(:not(.sidebar)) {
	flex-grow: 999;
	flex-basis: 0;
	min-inline-size: 50%;
}

.sidebar {
	flex-grow: 1;
	flex-basis: var(--sidebar-inline-size);
}

/**
 * Switcher
 *
 * Toggles view between purely horizontal to purely vertical and vice versa
 * based on threshold.
 *
 * If the threshold is not set, the layout is always purely vertical.
 * It can be treated as a fallback to stack; but spacing does not fall back.
 *
 * Details: https://every-layout.dev/layouts/switcher
 */

.switcher {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--switcher-row-gap, var(--row-gap));
	column-gap: var(--switcher-column-gap, var(--column-gap));
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc((var(--switcher-threshold, 0px) - 100%) * 999);
}

/**
 * Cluster
 *
 * Sets children to lay horizontally. If there is not enough space to fit all
 * children, they break into another line. It also sets horizontal and vertical
 * spacing between children.
 *
 * Details: https://every-layout.dev/layouts/cluster
 */

.cluster {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--cluster-row-gap, var(--row-gap));
	column-gap: var(--cluster-column-gap, var(--column-gap));
	list-style: none;
}

/**
 * Grid
 *
 * Lays elements out in a grid with constant spacing between items
 * and automatic extra rows when needed. The layout is useful
 * for galleries containing pictures, cards etc.
 *
 * Details: https://every-layout.dev/layouts/grid
 */

.grid {
	display: grid;
	gap: var(--grid-gap, var(--row-gap) var(--column-gap));
}

@supports (width: min(100px, 100%)) {
	.grid {
		grid-template-columns: repeat(auto-fit,
			minmax(min(var(--grid-item-size), 100%), 1fr));
	}
}

/**
 * Hidden
 *
 * Removes element from the tree.
 */

[hidden] {
	display: none;
}

/**
 * Visually hidden
 *
 * Hides content from the display but preserves it for assistive technologies.
 * Can be hidden completely or visible when focused.
 *
 * Usage example:
 *   <h1 class="hidden visually">Invisible page title</h1>"
 *   <a href=# class="hidden visually but focusable">Back to top</a>
 */

.hidden:where(.visually:not(.focusable)),
.hidden:where(.visually.focusable:not(:focus, :focus-within)) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip-path: inset(50%);
}

/**
 * Icon
 *
 * A layout designed specifically to inline pictograms to make them
 * aligned with text properly.
 *
 * Configuration options:
 *
 * `--icon-size`
 *   sets full size of image
 *
 * `--icon-outset`
 *   enables negative margin making the picture pop a bit out from text;
 *   useful when you have circular icons and want to correct visual alignment
 *
 *  `--icon-space`
 *    controls space between the icon and the closes text;
 *    In JSX it would be complete space, in pure HTML it can be added to
 *    the space width.
 *
 * Details: https://every-layout.dev/layouts/icon
 */

.icon {
	box-sizing: border-box;
	display: inline-block;
	inline-size: var(--icon-size, calc(.75em + 2 * var(--icon-outset, 0px)));
	block-size: var(--icon-size, calc(.75em + 2 * var(--icon-outset, 0px)));
	margin-block: calc(-1 * var(--icon-outset, 0px));
	margin-inline: calc(var(--icon-space, 1ch) - var(--icon-outset, 0px));
	color: var(--icon-color, inherit);
	fill: currentcolor;
}

@supports (inline-size: 1cap) {
	.icon {
		inline-size: var(--icon-size, calc(1cap + 2 * var(--icon-outset, 0px)));
		block-size: var(--icon-size, calc(1cap + 2 * var(--icon-outset, 0px)));
	}
}

.icon:where(:first-child) {
	margin-inline-start: calc(-1 * var(--icon-outset, 0px));
}

.icon:where(:last-child) {
	margin-inline-end: calc(-1 * var(--icon-outset, 0px));
}

/*!
 * Layout Fixtures
 *
 * Prevent most common side effects of layouts.
 */

/**
 * Reset default styling if a layout used on a list
 */

:where(ul, ol, menu):where(.stack, .switcher, .cluster, .grid, :has(> .sidebar)) {
	padding-left: 0;
	list-style: none;
}

:where(ul, ol, menu):where(.box) {
	list-style: none;
}

/**
 * Remove global margin on any children
 * to prevent weird spacing in flexible containers
 */

:where(.stack, .switcher, .cluster, .cover, .grid, :has(> .sidebar)) > * {
	margin-block: 0;
}

/**
 * Display block for Box layout if not set
 */

:where(.box) {
	display: block; /* 4 */
}

/**
 * Avoid stack spacing for the line breaking element
 * when they go after something
 */

:where(br) {
	margin-block-start: unset;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJveC5jc3MiLCJzdGFjay5jc3MiLCJjb3Zlci5jc3MiLCJzaWRlYmFyLmNzcyIsInN3aXRjaGVyLmNzcyIsImNsdXN0ZXIuY3NzIiwiZ3JpZC5jc3MiLCJoaWRkZW4uY3NzIiwiaWNvbi5jc3MiLCJmaXh0dXJlcy5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7Ozs7Ozs7Ozs7O0VBV0U7O0FBRUY7Q0FDQyw2REFBNkQ7Q0FDN0QsZ0VBQWdFO0FBQ2pFOztBQ2hCQTs7Ozs7O0VBTUU7O0FBRUY7Q0FDQyxhQUFhO0NBQ2Isc0JBQXNCO0NBQ3RCLHFDQUFxQztDQUNyQyxzQkFBc0I7QUFDdkI7O0FDYkE7Ozs7Ozs7O0VBUUU7O0FBRUY7Q0FDQyxhQUFhO0NBQ2Isc0JBQXNCO0NBQ3RCLHlDQUF5QztBQUMxQzs7QUFFQTtDQUNDLGtCQUFrQjtBQUNuQjs7QUNsQkE7Ozs7Ozs7Ozs7RUFVRTs7QUFFRjtDQUNDLGFBQWE7Q0FDYixlQUFlO0NBQ2YsdUJBQXVCO0NBQ3ZCLDZCQUE2QjtBQUM5Qjs7QUFFQTtDQUNDLGNBQWM7Q0FDZCxhQUFhO0NBQ2Isb0JBQW9CO0FBQ3JCOztBQUVBO0NBQ0MsWUFBWTtDQUNaLHNDQUFzQztBQUN2Qzs7QUM1QkE7Ozs7Ozs7Ozs7RUFVRTs7QUFFRjtDQUNDLGFBQWE7Q0FDYixlQUFlO0NBQ2YsZ0RBQWdEO0NBQ2hELHlEQUF5RDtBQUMxRDs7QUFFQTtDQUNDLFlBQVk7Q0FDWiwrREFBK0Q7QUFDaEU7O0FDdEJBOzs7Ozs7OztFQVFFOztBQUVGO0NBQ0MsYUFBYTtDQUNiLGVBQWU7Q0FDZiwrQ0FBK0M7Q0FDL0Msd0RBQXdEO0NBQ3hELGdCQUFnQjtBQUNqQjs7QUNoQkE7Ozs7Ozs7O0VBUUU7O0FBRUY7Q0FDQyxhQUFhO0NBQ2Isc0RBQXNEO0FBQ3ZEOztBQUVBO0NBQ0M7RUFDQztpREFDK0M7Q0FDaEQ7QUFDRDs7QUNwQkE7Ozs7RUFJRTs7QUFFRjtDQUNDLGFBQWE7QUFDZDs7QUFHQTs7Ozs7Ozs7O0VBU0U7O0FBRUY7O0NBRUMsa0JBQWtCO0NBQ2xCLFVBQVU7Q0FDVixXQUFXO0NBQ1gsVUFBVTtDQUNWLFlBQVk7Q0FDWixnQkFBZ0I7Q0FDaEIsbUJBQW1CO0NBQ25CLFNBQVM7Q0FDVCxxQkFBcUI7QUFDdEI7O0FDakNBOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7RUFxQkU7O0FBRUY7Q0FDQyxzQkFBc0I7Q0FDdEIscUJBQXFCO0NBQ3JCLHdFQUF3RTtDQUN4RSx1RUFBdUU7Q0FDdkUsZ0RBQWdEO0NBQ2hELHFFQUFxRTtDQUNyRSxpQ0FBaUM7Q0FDakMsa0JBQWtCO0FBQ25COztBQUVBO0NBQ0M7RUFDQyx1RUFBdUU7RUFDdkUsc0VBQXNFO0NBQ3ZFO0FBQ0Q7O0FBRUE7Q0FDQyx1REFBdUQ7QUFDeEQ7O0FBRUE7Q0FDQyxxREFBcUQ7QUFDdEQ7O0FDL0NBOzs7O0VBSUU7O0FBR0Y7O0VBRUU7O0FBRUY7Q0FDQyxlQUFlO0NBQ2YsZ0JBQWdCO0FBQ2pCOztBQUVBO0NBQ0MsZ0JBQWdCO0FBQ2pCOztBQUdBOzs7RUFHRTs7QUFFRjtDQUNDLGVBQWU7QUFDaEI7O0FBR0E7O0VBRUU7O0FBRUY7Q0FDQyxjQUFjLEVBQUUsTUFBTTtBQUN2Qjs7QUFFQTs7O0VBR0U7O0FBQ0Y7Q0FDQyx5QkFBeUI7QUFDMUIiLCJmaWxlIjoiYnVuZGxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qKlxuICogQm94XG4gKlxuICogRGVmaW5lcyBhIGJveCBsYXlvdXQgd2l0aCBpbnNldCBzcGFjaW5nLlxuICpcbiAqIERldGFpbHM6IGh0dHBzOi8vZXZlcnktbGF5b3V0LmRldi9sYXlvdXRzL2JveFxuICpcbiAqIE5PVEU6XG4gKiAgIFRoaXMgZG9lcyBub3QgYXBwbHkgYmFja2dyb3VuZCwgY29sb3IgYW5kIG91dGxpbmVcbiAqICAgcmVjb21tZW5kZWQgaW4gRXZlcnkgTGF5b3V0IGFzIHRoZXNlIGFyZSBkZWZpbmVkIGluIGEgc2VwYXJhdGVcbiAqICAgY29sb3JpbmcgbW9kdWxlLlxuICovXG5cbi5ib3gge1xuXHRwYWRkaW5nLWJsb2NrOiB2YXIoLS1ib3gtcGFkZGluZy1ibG9jaywgdmFyKC0tcGFkZGluZy1ibG9jaykpO1xuXHRwYWRkaW5nLWlubGluZTogdmFyKC0tYm94LXBhZGRpbmctaW5saW5lLCB2YXIoLS1wYWRkaW5nLWlubGluZSkpO1xufVxuIiwiLyoqXG4gKiBTdGFja1xuICpcbiAqIFNldHMgdGhlIHZlcnRpY2FsIHNwYWNpbmcgYmV0d2VlbiBpdHMgY2hpbGRyZW4uXG4gKlxuICogRGV0YWlsczogaHR0cHM6Ly9ldmVyeS1sYXlvdXQuZGV2L2xheW91dHMvc3RhY2tcbiAqL1xuXG4uc3RhY2sge1xuXHRkaXNwbGF5OiBmbGV4O1xuXHRmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuXHRnYXA6IHZhcigtLXN0YWNrLWdhcCwgdmFyKC0tcm93LWdhcCkpO1xuXHRqdXN0aWZ5LWNvbnRlbnQ6IHN0YXJ0O1xufVxuIiwiLyoqXG4gKiBDb3ZlclxuICpcbiAqIFRoZSBjb3ZlciBsYXlvdXQgaXMgdXNlZnVsIGZvciB0aGUgcGFnZSBhbmQgc2VjdGlvbiBoZWFkZXJzLFxuICogYWxzbyBjYWxsZWQgaGVyb2VzLiBJdCBjZW50ZXJzIHRoZSBoZWFkaW5nIGVsZW1lbnQgb3IgZ3JvdXAgdmVydGljYWxseVxuICogYW5kIHB1c2hlcyBldmVyeXRoaW5nIGVsc2UgdG8gdGhlIHNpZGVzICh0b3AgYW5kIGJvdHRvbSBpbiB2ZXJ0aWNhbCBtb2RlKS5cbiAqXG4gKiBEZXRhaWxzOiBodHRwczovL2V2ZXJ5LWxheW91dC5kZXYvbGF5b3V0cy9jb3ZlclxuICovXG5cbi5jb3ZlciB7XG5cdGRpc3BsYXk6IGZsZXg7XG5cdGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG5cdHJvdy1nYXA6IHZhcigtLWNvdmVyLWdhcCwgdmFyKC0tcm93LWdhcCkpO1xufVxuXG4uY292ZXIgPiA6d2hlcmUoaDEsIGgyLCBoMywgaDQsIGg1LCBoNiwgaGdyb3VwKSB7XG5cdG1hcmdpbi1ibG9jazogYXV0bztcbn1cbiIsIi8qKlxuICogU2lkZWJhclxuICpcbiAqIE1ha2VzIHRoZSBzaWRlYmFyIHRvIG9jY3VweSByZXF1ZXN0ZWQgc3BhY2UgYW5kIHRoZSBjb250ZW50IChub3QgYSBzaWRlYmFyKVxuICogdG8gb2NjdXB5IHRoZSByZXN0IG9mIHNwYWNlLCBpLmUuIGNyZWF0ZXMgd2lkZSBjb250ZW50IGFuZCBhIG5hcnJvdyBzaWRlYmFyLlxuICogSWYgdGhlcmUgaXMgbm90IGVub3VnaCBzcGFjZSBmb3IgY29udGVudCwgaS5lLiBpdCBpcyBtb3JlIG5hcnJvdyB0aGFuIDUwJVxuICogb2YgdGhlIHBhcmVudCwgdGhlIGxheW91dCBicmVha3MgYW5kIHRoZSBzaWRlYmFyIGlzIHJlbmRlcmVkIGJlZm9yZVxuICogb3IgYWZ0ZXIgdGhlIGNvbnRlbnQgKGRlcGVuZHMgb24gdGhlIG9yZGVyIG9mIEhUTUwgZWxlbWVudHMpLlxuICpcbiAqIERldGFpbHM6IGh0dHBzOi8vZXZlcnktbGF5b3V0LmRldi9sYXlvdXRzL3NpZGViYXJcbiAqL1xuXG46aGFzKD4gLnNpZGViYXIpIHtcblx0ZGlzcGxheTogZmxleDtcblx0ZmxleC13cmFwOiB3cmFwO1xuXHRyb3ctZ2FwOiB2YXIoLS1yb3ctZ2FwKTtcblx0Y29sdW1uLWdhcDogdmFyKC0tY29sdW1uLWdhcCk7XG59XG5cbjpoYXMoPiAuc2lkZWJhcikgPiA6d2hlcmUoOm5vdCguc2lkZWJhcikpIHtcblx0ZmxleC1ncm93OiA5OTk7XG5cdGZsZXgtYmFzaXM6IDA7XG5cdG1pbi1pbmxpbmUtc2l6ZTogNTAlO1xufVxuXG4uc2lkZWJhciB7XG5cdGZsZXgtZ3JvdzogMTtcblx0ZmxleC1iYXNpczogdmFyKC0tc2lkZWJhci1pbmxpbmUtc2l6ZSk7XG59XG4iLCIvKipcbiAqIFN3aXRjaGVyXG4gKlxuICogVG9nZ2xlcyB2aWV3IGJldHdlZW4gcHVyZWx5IGhvcml6b250YWwgdG8gcHVyZWx5IHZlcnRpY2FsIGFuZCB2aWNlIHZlcnNhXG4gKiBiYXNlZCBvbiB0aHJlc2hvbGQuXG4gKlxuICogSWYgdGhlIHRocmVzaG9sZCBpcyBub3Qgc2V0LCB0aGUgbGF5b3V0IGlzIGFsd2F5cyBwdXJlbHkgdmVydGljYWwuXG4gKiBJdCBjYW4gYmUgdHJlYXRlZCBhcyBhIGZhbGxiYWNrIHRvIHN0YWNrOyBidXQgc3BhY2luZyBkb2VzIG5vdCBmYWxsIGJhY2suXG4gKlxuICogRGV0YWlsczogaHR0cHM6Ly9ldmVyeS1sYXlvdXQuZGV2L2xheW91dHMvc3dpdGNoZXJcbiAqL1xuXG4uc3dpdGNoZXIge1xuXHRkaXNwbGF5OiBmbGV4O1xuXHRmbGV4LXdyYXA6IHdyYXA7XG5cdHJvdy1nYXA6IHZhcigtLXN3aXRjaGVyLXJvdy1nYXAsIHZhcigtLXJvdy1nYXApKTtcblx0Y29sdW1uLWdhcDogdmFyKC0tc3dpdGNoZXItY29sdW1uLWdhcCwgdmFyKC0tY29sdW1uLWdhcCkpO1xufVxuXG4uc3dpdGNoZXIgPiAqIHtcblx0ZmxleC1ncm93OiAxO1xuXHRmbGV4LWJhc2lzOiBjYWxjKCh2YXIoLS1zd2l0Y2hlci10aHJlc2hvbGQsIDBweCkgLSAxMDAlKSAqIDk5OSk7XG59XG4iLCIvKipcbiAqIENsdXN0ZXJcbiAqXG4gKiBTZXRzIGNoaWxkcmVuIHRvIGxheSBob3Jpem9udGFsbHkuIElmIHRoZXJlIGlzIG5vdCBlbm91Z2ggc3BhY2UgdG8gZml0IGFsbFxuICogY2hpbGRyZW4sIHRoZXkgYnJlYWsgaW50byBhbm90aGVyIGxpbmUuIEl0IGFsc28gc2V0cyBob3Jpem9udGFsIGFuZCB2ZXJ0aWNhbFxuICogc3BhY2luZyBiZXR3ZWVuIGNoaWxkcmVuLlxuICpcbiAqIERldGFpbHM6IGh0dHBzOi8vZXZlcnktbGF5b3V0LmRldi9sYXlvdXRzL2NsdXN0ZXJcbiAqL1xuXG4uY2x1c3RlciB7XG5cdGRpc3BsYXk6IGZsZXg7XG5cdGZsZXgtd3JhcDogd3JhcDtcblx0cm93LWdhcDogdmFyKC0tY2x1c3Rlci1yb3ctZ2FwLCB2YXIoLS1yb3ctZ2FwKSk7XG5cdGNvbHVtbi1nYXA6IHZhcigtLWNsdXN0ZXItY29sdW1uLWdhcCwgdmFyKC0tY29sdW1uLWdhcCkpO1xuXHRsaXN0LXN0eWxlOiBub25lO1xufVxuIiwiLyoqXG4gKiBHcmlkXG4gKlxuICogTGF5cyBlbGVtZW50cyBvdXQgaW4gYSBncmlkIHdpdGggY29uc3RhbnQgc3BhY2luZyBiZXR3ZWVuIGl0ZW1zXG4gKiBhbmQgYXV0b21hdGljIGV4dHJhIHJvd3Mgd2hlbiBuZWVkZWQuIFRoZSBsYXlvdXQgaXMgdXNlZnVsXG4gKiBmb3IgZ2FsbGVyaWVzIGNvbnRhaW5pbmcgcGljdHVyZXMsIGNhcmRzIGV0Yy5cbiAqXG4gKiBEZXRhaWxzOiBodHRwczovL2V2ZXJ5LWxheW91dC5kZXYvbGF5b3V0cy9ncmlkXG4gKi9cblxuLmdyaWQge1xuXHRkaXNwbGF5OiBncmlkO1xuXHRnYXA6IHZhcigtLWdyaWQtZ2FwLCB2YXIoLS1yb3ctZ2FwKSB2YXIoLS1jb2x1bW4tZ2FwKSk7XG59XG5cbkBzdXBwb3J0cyAod2lkdGg6IG1pbigxMDBweCwgMTAwJSkpIHtcblx0LmdyaWQge1xuXHRcdGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KGF1dG8tZml0LFxuXHRcdFx0bWlubWF4KG1pbih2YXIoLS1ncmlkLWl0ZW0tc2l6ZSksIDEwMCUpLCAxZnIpKTtcblx0fVxufVxuIiwiLyoqXG4gKiBIaWRkZW5cbiAqXG4gKiBSZW1vdmVzIGVsZW1lbnQgZnJvbSB0aGUgdHJlZS5cbiAqL1xuXG5baGlkZGVuXSB7XG5cdGRpc3BsYXk6IG5vbmU7XG59XG5cblxuLyoqXG4gKiBWaXN1YWxseSBoaWRkZW5cbiAqXG4gKiBIaWRlcyBjb250ZW50IGZyb20gdGhlIGRpc3BsYXkgYnV0IHByZXNlcnZlcyBpdCBmb3IgYXNzaXN0aXZlIHRlY2hub2xvZ2llcy5cbiAqIENhbiBiZSBoaWRkZW4gY29tcGxldGVseSBvciB2aXNpYmxlIHdoZW4gZm9jdXNlZC5cbiAqXG4gKiBVc2FnZSBleGFtcGxlOlxuICogICA8aDEgY2xhc3M9XCJoaWRkZW4gdmlzdWFsbHlcIj5JbnZpc2libGUgcGFnZSB0aXRsZTwvaDE+XCJcbiAqICAgPGEgaHJlZj0jIGNsYXNzPVwiaGlkZGVuIHZpc3VhbGx5IGJ1dCBmb2N1c2FibGVcIj5CYWNrIHRvIHRvcDwvYT5cbiAqL1xuXG4uaGlkZGVuOndoZXJlKC52aXN1YWxseTpub3QoLmZvY3VzYWJsZSkpLFxuLmhpZGRlbjp3aGVyZSgudmlzdWFsbHkuZm9jdXNhYmxlOm5vdCg6Zm9jdXMsIDpmb2N1cy13aXRoaW4pKSB7XG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcblx0d2lkdGg6IDFweDtcblx0aGVpZ2h0OiAxcHg7XG5cdHBhZGRpbmc6IDA7XG5cdG1hcmdpbjogLTFweDtcblx0b3ZlcmZsb3c6IGhpZGRlbjtcblx0d2hpdGUtc3BhY2U6IG5vd3JhcDtcblx0Ym9yZGVyOiAwO1xuXHRjbGlwLXBhdGg6IGluc2V0KDUwJSk7XG59XG4iLCIvKipcbiAqIEljb25cbiAqXG4gKiBBIGxheW91dCBkZXNpZ25lZCBzcGVjaWZpY2FsbHkgdG8gaW5saW5lIHBpY3RvZ3JhbXMgdG8gbWFrZSB0aGVtXG4gKiBhbGlnbmVkIHdpdGggdGV4dCBwcm9wZXJseS5cbiAqXG4gKiBDb25maWd1cmF0aW9uIG9wdGlvbnM6XG4gKlxuICogYC0taWNvbi1zaXplYFxuICogICBzZXRzIGZ1bGwgc2l6ZSBvZiBpbWFnZVxuICpcbiAqIGAtLWljb24tb3V0c2V0YFxuICogICBlbmFibGVzIG5lZ2F0aXZlIG1hcmdpbiBtYWtpbmcgdGhlIHBpY3R1cmUgcG9wIGEgYml0IG91dCBmcm9tIHRleHQ7XG4gKiAgIHVzZWZ1bCB3aGVuIHlvdSBoYXZlIGNpcmN1bGFyIGljb25zIGFuZCB3YW50IHRvIGNvcnJlY3QgdmlzdWFsIGFsaWdubWVudFxuICpcbiAqICBgLS1pY29uLXNwYWNlYFxuICogICAgY29udHJvbHMgc3BhY2UgYmV0d2VlbiB0aGUgaWNvbiBhbmQgdGhlIGNsb3NlcyB0ZXh0O1xuICogICAgSW4gSlNYIGl0IHdvdWxkIGJlIGNvbXBsZXRlIHNwYWNlLCBpbiBwdXJlIEhUTUwgaXQgY2FuIGJlIGFkZGVkIHRvXG4gKiAgICB0aGUgc3BhY2Ugd2lkdGguXG4gKlxuICogRGV0YWlsczogaHR0cHM6Ly9ldmVyeS1sYXlvdXQuZGV2L2xheW91dHMvaWNvblxuICovXG5cbi5pY29uIHtcblx0Ym94LXNpemluZzogYm9yZGVyLWJveDtcblx0ZGlzcGxheTogaW5saW5lLWJsb2NrO1xuXHRpbmxpbmUtc2l6ZTogdmFyKC0taWNvbi1zaXplLCBjYWxjKC43NWVtICsgMiAqIHZhcigtLWljb24tb3V0c2V0LCAwcHgpKSk7XG5cdGJsb2NrLXNpemU6IHZhcigtLWljb24tc2l6ZSwgY2FsYyguNzVlbSArIDIgKiB2YXIoLS1pY29uLW91dHNldCwgMHB4KSkpO1xuXHRtYXJnaW4tYmxvY2s6IGNhbGMoLTEgKiB2YXIoLS1pY29uLW91dHNldCwgMHB4KSk7XG5cdG1hcmdpbi1pbmxpbmU6IGNhbGModmFyKC0taWNvbi1zcGFjZSwgMWNoKSAtIHZhcigtLWljb24tb3V0c2V0LCAwcHgpKTtcblx0Y29sb3I6IHZhcigtLWljb24tY29sb3IsIGluaGVyaXQpO1xuXHRmaWxsOiBjdXJyZW50Y29sb3I7XG59XG5cbkBzdXBwb3J0cyAoaW5saW5lLXNpemU6IDFjYXApIHtcblx0Lmljb24ge1xuXHRcdGlubGluZS1zaXplOiB2YXIoLS1pY29uLXNpemUsIGNhbGMoMWNhcCArIDIgKiB2YXIoLS1pY29uLW91dHNldCwgMHB4KSkpO1xuXHRcdGJsb2NrLXNpemU6IHZhcigtLWljb24tc2l6ZSwgY2FsYygxY2FwICsgMiAqIHZhcigtLWljb24tb3V0c2V0LCAwcHgpKSk7XG5cdH1cbn1cblxuLmljb246d2hlcmUoOmZpcnN0LWNoaWxkKSB7XG5cdG1hcmdpbi1pbmxpbmUtc3RhcnQ6IGNhbGMoLTEgKiB2YXIoLS1pY29uLW91dHNldCwgMHB4KSk7XG59XG5cbi5pY29uOndoZXJlKDpsYXN0LWNoaWxkKSB7XG5cdG1hcmdpbi1pbmxpbmUtZW5kOiBjYWxjKC0xICogdmFyKC0taWNvbi1vdXRzZXQsIDBweCkpO1xufVxuIiwiLyohXG4gKiBMYXlvdXQgRml4dHVyZXNcbiAqXG4gKiBQcmV2ZW50IG1vc3QgY29tbW9uIHNpZGUgZWZmZWN0cyBvZiBsYXlvdXRzLlxuICovXG5cblxuLyoqXG4gKiBSZXNldCBkZWZhdWx0IHN0eWxpbmcgaWYgYSBsYXlvdXQgdXNlZCBvbiBhIGxpc3RcbiAqL1xuXG46d2hlcmUodWwsIG9sLCBtZW51KTp3aGVyZSguc3RhY2ssIC5zd2l0Y2hlciwgLmNsdXN0ZXIsIC5ncmlkLCA6aGFzKD4gLnNpZGViYXIpKSB7XG5cdHBhZGRpbmctbGVmdDogMDtcblx0bGlzdC1zdHlsZTogbm9uZTtcbn1cblxuOndoZXJlKHVsLCBvbCwgbWVudSk6d2hlcmUoLmJveCkge1xuXHRsaXN0LXN0eWxlOiBub25lO1xufVxuXG5cbi8qKlxuICogUmVtb3ZlIGdsb2JhbCBtYXJnaW4gb24gYW55IGNoaWxkcmVuXG4gKiB0byBwcmV2ZW50IHdlaXJkIHNwYWNpbmcgaW4gZmxleGlibGUgY29udGFpbmVyc1xuICovXG5cbjp3aGVyZSguc3RhY2ssIC5zd2l0Y2hlciwgLmNsdXN0ZXIsIC5jb3ZlciwgLmdyaWQsIDpoYXMoPiAuc2lkZWJhcikpID4gKiB7XG5cdG1hcmdpbi1ibG9jazogMDtcbn1cblxuXG4vKipcbiAqIERpc3BsYXkgYmxvY2sgZm9yIEJveCBsYXlvdXQgaWYgbm90IHNldFxuICovXG5cbjp3aGVyZSguYm94KSB7XG5cdGRpc3BsYXk6IGJsb2NrOyAvKiA0ICovXG59XG5cbi8qKlxuICogQXZvaWQgc3RhY2sgc3BhY2luZyBmb3IgdGhlIGxpbmUgYnJlYWtpbmcgZWxlbWVudFxuICogd2hlbiB0aGV5IGdvIGFmdGVyIHNvbWV0aGluZ1xuICovXG46d2hlcmUoYnIpIHtcblx0bWFyZ2luLWJsb2NrLXN0YXJ0OiB1bnNldDtcbn1cbiJdfQ== */