/**
 * Hidden
 *
 * Removes element from the tree.
 */

[hidden] {
	display: none;
}


/**
 * Visually hidden
 *
 * Hides content from the display but preserves it for assistive technologies.
 * Can be hidden completely or visible when focused.
 *
 * Usage example:
 *   <h1 class="hidden visually">Invisible page title</h1>"
 *   <a href=# class="hidden visually but focusable">Back to top</a>
 */

.hidden:where(.visually:not(.focusable)),
.hidden:where(.visually.focusable:not(:focus, :focus-within)) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
	border: 0;
}
