:any-link {
	color: var(--link-color, inherit);
	transition:
		color var(--duration-100, 50ms),
		text-decoration-thickness var(--duration-100, 50ms),
		text-underline-offset var(--duration-100, 50ms);
}

:visited {
	color: var(--link-visited-color);
}

:where(:any-link):hover {
	color: var(--link-hover-color, var(--link-focus-color));
}

:where(:any-link):focus {
	color: var(--link-focus-color, var(--link-hover-color));
}

:where(:any-link):active {
	color: var(--link-active-color);
}

/**
 * Decoration
 *
 * Thick decorations applied to links only on screen and only when relative
 * colour syntax supported.
 *
 * Implementation must be done using `text-decoration-thickness` to let
 * users disable this feature with `text-decoration: none`.
 *
 * Whether links should be prominently decorated when printed,
 * still is a question:
 * - on one side, printed PDF documents are interactive and need a signifier;
 * - on another, printed documents require links in visible text.
 */
@media only screen {
	@supports (color: oklch(from white l c h / .1)) {
		:any-link {
			text-decoration-thickness:
				calc((1cap - 1ex) / 2 + var(--link-decoration-overlap, .35ex));
			text-decoration-color:
				var(--link-decoration-color, oklch(from currentColor l c h / .05));
			text-underline-offset: calc(-.5 * var(--link-decoration-overlap, .35ex));
			text-decoration-skip-ink: none;
		}

		:any-link:is(:hover, :focus) {
			text-decoration-thickness: 1lh;
			text-underline-offset: calc((1lh - 1cap) / -2 - 1cap);
		}
	}
}
