/**
 * Spacing
 *
 * 1. Regular spacing first
 * 2. Condensed spacing between list items
 *    as well as paragraphs or nested lists inside list items
 * 3. Smaller space after headings
 * 4. Extra small space between headings
 *    as well as headings and subheadings/subtitles
 */

* {
	margin-block: 0;
}

* + * {
	margin-block-start: var(--space-400);
}

:where(body) {
	padding-block: var(--space-600);
	padding-inline: var(--space-700);
}

* + :where(li) {
	margin-block-start: var(--space-300);
}

:where(li) > :where(ol, ul, p) * + * {
	margin-block-start: var(--space-300);
}

:where(h1, h2, h3, h4, h5, h6, hgroup, header) + * {
	margin-block-start: var(--space-300);
}

:where(hgroup) > * + * {
	margin-block-start: var(--space-100);
}

/* Dynamic Spacing */

:where(:root) {
	--section-space: var(--space-800);
}

:where(:not(h1, h2, h3, h4, h5, h6, hgroup, header)) + :where(article, section, nav, aside),
:where(article, section, nav, aside) + * {
	margin-block-start: var(--section-space, var(--space-400));
}

:where(article, section, nav, aside) > * {
	--section-space: var(--space-700);
}

:where(article, section, nav, aside) :where(article, section, nav, aside) > * {
	--section-space: var(--space-600);
}

:where(article, section, nav, aside) :where(article, section, nav, aside) :where(article, section, nav, aside) > * {
	--section-space: var(--space-500);
}

:where(article, section, nav, aside) :where(article, section, nav, aside) :where(article, section, nav, aside) :where(article, section, nav, aside) > * {
	--section-space: var(--space-400);
}
