/**
 * Color values were constructed from LCH and downgraded to other standards.
 * The conversion was done with the help of postcss-lab-function plugin.
 */

:where(:root) {
	--text-color: var(--major-text-color);
	--major-text-color: rgb(0 0 0 / .87);
	--minor-text-color: rgb(0 0 0 / .6);
	--major-icon-color: var(--major-text-color);
	--minor-icon-color: var(--minor-text-color);
	--background-color: rgb(255 255 255);
	--highlight-color: lch(50% 100 290 / .25);
	--selection-color: rgb(110 143 255 / .2);
	--link-active-color: lch(5% 100 290 / .87);
	--link-decoration-color: var(--highlight-color);
	--outline-color: rgb(0 0 0 / .12);
	--background-color: lch(100% 0 290);
	--selection-color: lch(60% 100 290 / .2);
}

@media (prefers-color-scheme: dark) {
	:where(:root) {
		--background-color: lch(5% 5 290);
		--major-text-color: rgb(255 255 255 / .9);
		--minor-text-color: rgb(255 255 255 / .68);
		--highlight-color: rgb(57 110 255 / .35);
		--link-color: lch(95% 100 290 / .9);
		--link-active-color: lch(90% 100 290 / .9);
		--outline-color: rgb(255 255 255 / .12);
		--highlight-color: lch(50% 100 290 / .35);
	}
}
