@use 'lib/scale';

:root {
  font-family: var(--font-family-plain, system-ui), system-ui, sans-serif;
  font-size: var(--size-400, scale.size(400));
  line-height: var(--scale-3, scale.factor(3));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-brand, var(--font-family-plain));
  line-height: var(--scale-1, scale.factor(1));
}

h1 {
  font-size: var(--size-900, scale.size(900));
}

h2 {
  font-size: var(--size-800, scale.size(800));
}

h3 {
  font-size: var(--size-700, scale.size(700));
}

h4 {
  font-size: var(--size-600, scale.size(600));
}

h5 {
  font-size: var(--size-500, scale.size(500));
}

h6 {
  font-size: var(--size-400, scale.size(400));
}

pre {
  max-inline-size: 100%;
  overflow-inline: auto;
}

ul, ol {
  padding-inline-start: calc(var(--list-marker-size, 1ch) + 1em);
}

