@use 'lib/scale';

$font-family-plain: system-ui, sans-serif !default;
$font-family-brand: $font-family-plain !default;
$font-family-mono: ui-monospace, monospace !default;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$heading-font-weight: $font-weight-bold;
$heading-line-height: 1.25;

:where(:root) {
  --font-family-plain: #{$font-family-plain};

  @if $font-family-brand != $font-family-plain {
    --font-family-brand: #{$font-family-brand};
  }

  --font-family-mono: #{$font-family-mono};
}

@mixin heading {
  font-family: var(--font-family-brand, var(--font-family-plain));
  font-weight: var(--font-weight-bold, 600);
  font-size: var(--font-size, var(--font-size-medium, 1rem));
}

@mixin family($name: 'plain') {
  @if $name != 'plain' and $name != 'mono' {
    font-family: var(--font-family-#{$name}, --font-family-plain);
  }
  @else {
    font-family: var(--font-family-#{name});
  }
}

@mixin size($font: null, $line: null, $tracking: null) {
  font-size: $font;
  line-height: $line;
  letter-spacing: $tracking;
}

.display,
.headline {
  font-family: var(--font-family-brand, var(--font-family-plain));
  font-weight: var(--font-weight-medium, 500);
}

.title,
.label {
  font-family: var(--font-family-plain);
  font-weight: var(--font-weight-medium, 500);
}

.body {
  font-family: var(--font-family-plain);
  font-weight: var(--font-weight-regular, 400);
}

:where(.display, .headline, .title, .label, .body) {
  --font-size: var(--font-size-medium);
}

.display {
  --font-size-large: $display-large-font-size;
  --font-size-medium: $display-medium-font-size;
  --font-size-small: $display-small-font-size;
}

.headline {
  --font-size-large: $headline-large-font-size;
  --font-size-medium: $headline-medium-font-size;
  --font-size-small: $headline-small-font-size;
}

.title {
  --font-size-large: $title-large-font-size;
  --font-size-medium: $title-medium-font-size;
  --font-size-small: $title-small-font-size;
}

.label {
  --font-size-large: $label-large-font-size;
  --font-size-medium: $label-medium-font-size;
  --font-size-small: $label-small-font-size;
}

.body {
  --font-size-large: $body-large-font-size;
  --font-size-medium: $body-medium-font-size;
  --font-size-small: $body-small-font-size;
}

/**
 * Modifiers
 */

.large:where(.display, .headline, .title, .label, .body) {
  --font-size: var(--font-size-large);
}

.medium:where(.display, .headline, .title, .label, .body) {
  --font-size: var(--font-size-medium);
}

.small:where(.display, .headline, .title, .label, .body) {
  --font-size: var(--font-size-small);
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

/* Controversial modifier, can be confusing with color */
.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}
